@model CategoryViewModel

<button onclick="history.back()" class="btn btn-outline-info my-3">Go Back</button>
<h3>Редактирай</h3>
<form asp-controller="Categories" asp-action="Edit">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" placeholder="@Model.Name">
    <span asp-validation-for="Name" class="text-danger"></span>
    <button class="btn btn-primary mt-3">Запази</button>
</form>