<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/de8dc4b6-b234-48c8-a88f-a60da8a0a999/resourcegroups/breportsgroup/providers/Microsoft.Web/sites/BReports</ResourceId>
    <ResourceGroup>breportsgroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://breports.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e7d89c38-cddf-4007-bdaf-4f79ff2f5945</ProjectGuid>
    <PublishUrl>https://breports.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BReports</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>