@model LocationViewModel

<button onclick="history.back()" class="btn btn-outline-info my-3">Назад</button>
<h3>Добави офис</h3>

<form asp-controller="Locations" asp-action="Create">
    <label class="col-form-label" asp-for="Name">Офис</label>
    <input class="form-control" asp-for="Name"/>
    <label class="col-form-label" asp-for="Region">Регион</label>
    <input class="form-control" asp-for="Region" />
    <button class="btn btn-info mt-3">Запази</button>
</form>