@model RoleViewModel

<h2 class="mb-2">Редактирай роля</h2>

<form method="post">
    <div class="form-group mt-5">
        <label asp-for="Name" class="form-label">Име</label>
        <input asp-for="Name" class="form-control" placeholder="@Model.Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Запази</button>
        <a asp-action="Index" class="btn btn-danger">Откажи</a>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
